h3,
h4,
h5,
h6 {
    color: rgb(174, 131, 12);
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    font-weight: bold;
}
.highlight {
    background: linear-gradient(90deg, #e94560, #f9d423);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
